body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

}
.main-div{
    width: 80%;
    margin: auto;
    margin: 0 auto;
    box-sizing: border-box;
}
.card-holder{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    /* padding: 30px; */
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;

    
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    /* padding: 30px; */
    padding-top: 10px;
}

.nav-bar >h1{
    text-decoration: underline;
    text-align: center;
}

.nav-bar a{
    color: #a7a6a6;
}
.card {
    background-color: #fff;
    border-radius: 4px;
    border: 5px solid #ddd; /* Greyish off-white border */
    padding: 20px;
    box-sizing: border-box;
}

.card-header .category {
    color: #007bff;
    font-weight: bold;
}

.card-body {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

/* .card-body a{
    margin-top: 60px;
} */

.card-title {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.card-date {
    color: #888;
    font-size: 0.9em;
    margin: 5px 0;
}

.card-text {
    color: #555;
    font-size: 1em;
    margin: 10px 0;
}

.card-link-world {
    color: #007bff;
    margin-top: 80px;
    /* text-decoration: none; */
    /* font-weight: bold; */
}

.card-link{
    color: #007bff;
    margin-top: 64px;
    /* text-decoration: none; */
    /* font-weight: bold; */
}



@media (min-width: 901px) {
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}

.footer {
    background-color: #f8f9fa; 
    padding: 20px; 
    text-align: center; 
    border-top: 1px solid #e9ecef; 
    box-sizing: border-box;
  }
  
  .footer p {
    margin: 0; 
    color: #6c757d; 
    font-size: 14px; 
  }
  
  .footer a {
    color: #007bff; 
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline; 
  }
  